.kix-appview-editor, #docs-bars, #docs-titlebar, .docs-titlebar-buttons, #docs-banner-container, #docs-header-container{
  background: #f0f0f0 !important;
}

#docs-branding-container{
  background: #00000000 !important;
}

#docs-bars{
  margin-top:6px;
}

.navigation-widget-floating-navigation-button.navigation-widget, .kix-outlines-widget-header-contents{
  background: #f0f0f0 !important;
}

.companion-app-switcher-container {
  background: #f0f0f0 !important;
}

body {
  filter: invert(1) hue-rotate(180deg) !important;
}

.docs-material-gm-dialog, .docs-branding-icon-documents-36, .kix-cursor-caret, .docs-homescreen-grid-item-thumbnail, img, .kix-canvas-tile-content, .docs-gm .goog-menu{
  filter: invert(1) hue-rotate(180deg) !important;
}