body {
  filter: invert(1) hue-rotate(180deg) !important;
}

#docs-primary-toolbars{
  filter: contrast(0.95) !important;
}

.docs-material-gm-dialog, .docs-branding-icon-documents-36, .kix-cursor-caret, .docs-homescreen-grid-item-thumbnail, img, .kix-canvas-tile-content, .docs-gm .goog-menu{
  filter: invert(1) hue-rotate(180deg) !important;
}